name: Update the documentation

on:
  push:
    branches:
      - master

jobs:
  Building:
    runs-on: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v1
      - name: Install Doxygen
        run: sudo apt-get update &&
          sudo apt-get install --yes doxygen
      - name: Update the docs
        run: doxygen Doxyfile
